In [2]:
import pandas as pd

In [3]:
df_clean = pd.read_csv(filepath_or_buffer= "../data/Clean_Dataset.csv") 
df_clean

,Category,Rating,Rating Count,Minimum Installs,Maximum Installs,Free,Price,Content Rating,Ad Supported,In App Purchases,Editors Choice
0,Entertainment,3.9,68.0,10000.0,10291,1,0.0,Everyone,0,0,0
1,Lifestyle,0.0,0.0,50.0,90,1,0.0,Everyone,0,0,0
2,Shopping,4.3,918.0,100000.0,135038,1,0.0,Everyone,1,0,0
3,Finance,5.0,6.0,50.0,53,1,0.0,Everyone,0,0,0
4,Food & Drink,4.3,830.0,100000.0,142498,1,0.0,Everyone,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9901,Music,0.0,0.0,10.0,14,1,0.0,Everyone,0,0,0
9902,Education,4.3,142.0,1000.0,2490,1,0.0,Everyone,0,0,0
9903,Music & Audio,5.0,9.0,1000.0,1035,1,0.0,Teen,1,0,0
9904,Entertainment,0.0,0.0,500.0,522,1,0.0,Everyone,1,0,0
9905,Casual,4.9,19.0,500.0,656,1,0.0,Everyone,1,0,0

### Dummies

In [6]:
df_clean['Category'].nunique()

48

In [7]:
df_clean['E'].value_counts()

Category
Education                  1052
Music & Audio               725
Business                    622
Tools                       604
Entertainment               595
Lifestyle                   513
Books & Reference           501
Personalization             357
Health & Fitness            339
Productivity                333
Shopping                    328
Food & Drink                319
Travel & Local              294
Finance                     273
Arcade                      234
Puzzle                      229
Social                      215
Casual                      209
Communication               203
Sports                      201
Photography                 169
News & Magazines            147
Medical                     128
Action                      108
Educational                 108
Simulation                  102
Maps & Navigation            90
Adventure                    88
Auto & Vehicles              82
Art & Design                 71
House & Home                 66
Beauty                       52
Video Players & Editors      52
Events                       51
Board                        45
Strategy                     45
Role Playing                 43
Card                         39
Word                         38
Racing                       37
Trivia                       36
Casino                       29
Weather                      28
Libraries & Demo             23
Comics                       21
Music                        21
Dating                       21
Parenting                    20
Name: count, dtype: int64